name: puching to ECR

on: [push]
env:
   AWS_region: "eu-west-2"

permissions:
  id-token: write   
  contents: read 

jobs:
    build:
      runs-on: ubuntu-latest

      steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: Aws credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
         role-to-assume: ${{ secrets.ROLE }}
         aws-region: ${{env.AWS_region}}          
           
      - name: Loging in ECr
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

     # - name: update for yarn build 
      #  run: |
       #   cd ecs-assignment
        #  npx update-browserslist-db@latest 
        

      - name: build and push image
        env:
         registry: ${{ steps.login-ecr.outputs.registry }}
         repository: project
            

        run: |
          docker build -t image:${{ github.sha }} ./ecs-assignment
          docker push $registory/$repository:${{ github.sha }}
